.add-to-cart {
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #00B6FF;
    border: 4px solid #00B6FF;
    border-radius: 40px;
    display: inline-block;
    width: 196px;
    width: 19.6rem;
    height: 42px;
    height: 4.2rem;
    margin-bottom: -3px;
    margin-bottom: -0.3rem;
}
.add-to-cart:hover{
	background: #D4F5FF;
}
.add-to-cart select {
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: none;
    background: transparent;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 150%;
    text-align: left;
    padding-left: 18px;
    padding-left: 1.8rem;
}
@media (min-width: 800px) {
    .add-to-cart {
    height: 4.6rem;
}
}.add-to-cart__qty {
    display: block;
    border-right: 4px solid #00B6FF;
    float: left;
    width: 54px;
    width: 5.4rem;
    height: 100%;
    position: relative;
    font-size: 10px;
    font-size: 1rem;
    overflow: visible;
}
.add-to-cart__qty:hover:after {
    border-color: #00B6FF; 
}
@media (min-width: 800px) {
    .add-to-cart__qty {
    font-size: 1.1rem;
}
}.add-to-cart__qty label {
    background: white;
    left: 9px;
    left: 0.9rem;
    padding: 2px 2px 2px 5px;
    position: absolute;
    top: -8px;
    top: -0.8rem;
}
.add-to-cart__qty input {
    border: 0 none;
    border-radius: 40px 0px 0px 40px;
    outline: 0;
    height: 100%;
    text-align: center;
    width: 100%}
.add-to-cart__qty input::-moz-selection {
    background: #beb5a0;
}
.add-to-cart__qty input::selection {
    background: #beb5a0;
}
.add-to-cart__qty input::-moz-selection {
    background: #beb5a0;
}
.add-to-cart__submit {
    background: none;
    border: none;
    border-radius: 40px;
    padding: 0;
    font-size: 10px;
    font-size: 1rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    display: block;
    float: left;
    width: 138px;
    width: 13.8rem;
    height: 100%;
    position: relative;
    overflow: hidden;
    transition: background 0.1s cubic-bezier(0.16,  0.08,  0.355,  1);
}
.add-to-cart__submit:focus {
    outline: 0;
}
.add-to-cart__submit:hover, .add-to-cart__submit:active {
    color: white;
}
.add-to-cart__submit:active {
    background: #D4F5FF;
}
.add-to-cart__submit .add-to-cart__top {
    display: block;
    position: absolute;
    line-height: 38px;
    line-height: 3.8rem;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    color: #00B6FF;  
    transition: -webkit-transform 0.5s cubic-bezier(0.19,  1,  0.22,  1);
    transition: transform 0.5s cubic-bezier(0.19,  1,  0.22,  1);
}
@media (min-width: 800px) {
    .add-to-cart__submit .add-to-cart__top {
    line-height: 4.2rem;
}
}.add-to-cart__submit .add-to-cart__bottom {
    display: block;
    position: absolute;
    line-height: 38px;
    line-height: 3.8rem;
    left: 0;
    right: 0;
    top: 150%;
    transition: -webkit-transform 0.5s cubic-bezier(0.19,  1,  0.22,  1);
    transition: transform 0.5s cubic-bezier(0.19,  1,  0.22,  1);
}
@media (min-width: 800px) {
    .add-to-cart__submit .add-to-cart__bottom {
    line-height: 4.2rem;
}
}@media (min-width: 800px) {
    .add-to-cart__submit {
    font-size: 1.1rem;
}
}.add-to-cart__submit.is-submitted {
    background: #00B6FF;
    color: #fff;
}
.add-to-cart__submit.is-submitted .add-to-cart__top, .add-to-cart__submit.is-submitted .add-to-cart__bottom {
    -webkit-transform: translate3d(0,  -152%,  0);
    transform: translate3d(0,  -152%,  0);
}
.add-to-cart.is-disabled {
    border-color: #DADADA;
    pointer-events: none;
}
.add-to-cart.is-disabled * {
    border-color: #DADADA;
    color: #aaa8a4;
}
.add-to-cart.is-disabled .add-to-cart__submit:hover {
    background: #00B6FF; 
}
.add-to-cart.is-disabled .add-to-cart__qty:after {
    border-color: #DADADA;
}
.add-to-cart.is-disabled .add-to-cart__qty:hover:after {
    border-color: #DADADA; 
}
input{
	font-size: 16px;
	color: #00B6FF; 
}
button:hover{
	cursor: pointer;
}