body{
    color: white;
    font-weight: bold;
    font-family: 'Poiret One', cursive;
}

h1{
    color: purple;
    text-decoration: underline;
    text-align: center;
}

.box{
    height: 50px;
    width: 50px;
    border-radius: 15px;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: inset 0 0 10px #000000;
}

.first{
    margin-left: 0px;
    background-color: red;


}

.second{
    margin-left: 30px;
    background-color: orange;

}

.third{
    margin-left: 60px;
    background-color: yellow;

}

.fourth{
    margin-left: 90px;
    background-color: green;

}

.fifth{
    margin-left: 120px;
    background-color: blue;

}

.sixth{
    margin-left: 150px;
    background-color: purple;

}

