body{
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align: center;
    font-size: 20px;
}

#weathermaptitle{
    font-size: 50px;
}

.locationheader{
    font-size: 35px;
    margin-bottom: 20px;
}


.loading{
    height: 60px;
    width: 60px;
}
#map-canvas {
    height: 400px;
    background-color: #CCC;
    margin-bottom: 30px;
  }

.btn{
    margin-bottom: 15px;
}